title: "Jeong Arm"
lang: "ko"
author: "Jeong Arm"
description: "Jeong Arm's blog"
url: https://blog.kjwon15.net
baseurl: null # apply null if repo name is something like username.github.io
timezone: Asia/Seoul

theme: jekyll-whiteglass

# Build settings
markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: true
highlighter: rouge

permalink: /:year/:month/:day/:title/

paginate: 10
paginate_path: /posts/:num

jekyll-archives:
  enabled:
    - categories
    - tags
  layout: category_archives
  permalinks:
    category: /categories/:name/
    tag: /tags/:name/


source: ./
destination: ./_site

plugins:
  - jekyll-archives
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist

exclude:
  - Gemfile
  - Gemfile.lock
# Travis
  - vendor

# Theme specific settings
google_analytics: UA-109997464-1
comments: false
