<link rel="icon" type="image/x-icon" href="{{ "/favicon.png" | relative_url }}" />
<link rel="me" href="https://mastodon.social/@kjwon15" />
<link rel="me" href="https://qdon.space/@jarm" />

<!--
<style>
@keyframes glitch-anim-text {

  0% {
    transform: none;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%, 0 10vh, 100% 10vh, 100% 100%, 0 100%);
  }


  9%, 11% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(-1, 0);
  }

  49%, 51% {
    transform: none;
  }
  50% {
    transform: scale(-1, 1) translate(10px, 5px);
  }
  50.5% {
    transform: translate(-10px, -5px);
  }

  69%, 71% {
    filter: none;
  }
  70% {
    filter: invert(100%);
  }

  78%, 85% {
    filter: none;
  }
  80% {
    filter: drop-shadow(-5px 0 rgba(255, 0, 255, .4)) drop-shadow(5px 0 rgba(0, 255, 255, .4));
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vh), 0 calc(100% - 10vh), 0 100%, 100% 100%, 100% 100%, 0 100%);
  }
}
</style>

<script>
  (function(){
    const ua = navigator.userAgent;
    if (1
      * /Chrome/.test(ua)
      * /Windows/.test(ua)
    ) {
      alert("This blog doesn't support Chrome on Windows");
      window.addEventListener('load', () => {
        document.body.style.animation = 'glitch-anim-text 5s infinite linear';
      });
    }
  })();
</script>
-->

<style>
/* Fake Ad */
#ZNXMCX {
  position: fixed;
  top: 10vh;
	left: 10vw;
  width: 80vw;
	height: 80vh;
	box-sizing: border-box;
	padding: 1em;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 3em;
	background: rgba(255, 255, 255, 0.2);
	color: black;
}

#ZNXMCX button.close {
	position: absolute;
	top: 1em;
	right: 1em;
	font-size: 1rem;
	padding: 0.5em 1em;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 8px;
	color: black;
}
</style>
